@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
body{
	width:100%;
	height:100%;
}
ul,li,form{
	list-style:none;
}
a{
	text-decoration:none;
}
.clearfix{
	content:"";
	clear:both;
	height:0;
	visibility:hidden;
}
#hearder{
	width:100%;
	text-align:center;
	height:58px;
	background:#101824;
	margin:0 auto;
	
}
#hearder img{
	text-align:center;
	vertical-align:middle;
	margin-top:18px;
}
#ban{
	width:1600px;
	background:url(../images/ban.jpg) no-repeat center center;
	height:649px;
	margin:0 auto;
	margin-bottom:66px;
}
#ban form{
	width:363px;
	margin-top:185px;
	margin-right:212px;
	float:right;
	border-top-color:#fff;
}
#ban form .form-contant{
	width:306px;
	
	margin:0 auto;

}
#ban form .form-contant .button{
	width:153px;
	border:none;
	height:37px;
	float:left;
	margin-bottom:19px;
	color:#fff;
	font-weight:bold;
	background:#959595;
}
#ban form .form-contant .active{
	background:#459aeb;
}
#ban form .form-contant .info-list{
	margin-bottom:19px;
	color:#aaaaaa;

}
#ban form .form-contant .info-list li{
	height:25px;
	width:102px;
	float:left;
}
#ban form .form-contant .info-list li img{
	float:left;
	margin-right:5px;
}
#ban form .form-contant .info-list li span{
	float:left;
	display:block; 
	height:25px;
	line-height:25px;
}
#ban form .form-contant .contant-list{
	margin-top:19px;
}
#ban form .form-contant .contant-list input{
	padding-left:10px;
	width:296px;
	height:41px;
	margin-bottom:13px;
}

#contant{
	width:1600px;
	margin:0 auto;
}
#contant .contant{
	width:1260px;
	margin:0 auto;
}
#contant .contant1{
	background:url(../images/img1.jpg) no-repeat left 0;
	height:587px;
}
#contant .contant1_text{
	width:636px;
	padding:60px 60px 60px 60px;
	height:284px;
	opacity:0.73;
	filter:alpha(opacity=0.73);
	line-height:2;
	font-size:20px;
	color:#fff;
	margin-top:83px;
}

#contant .contant1 .contant1_text{
	float:right;
	background:#000;
	
	
}
#contant .contant1_text h1{
	margin-bottom:30px;
}
#contant .contant2{
	background:url(../images/img2.jpg) no-repeat right 0;
	height:587px;
}
#contant .contant2 .contant1_text{
	float:left;
	background:#114a9c;
}
#contant .contant3{
	background:url(../images/img3.jpg) no-repeat left 0;
	height:661px;
}
#contant .contant3 .contant1_text{
	float:right;
	background:#0281c5;
	margin-top:110px;
}
#footer{
	width:100%;
	background:#353535;
	margin-top:80px;
	height:110px;
	text-align:center;
	color:#fff;
	padding-top:30px;
	line-height:2;
}
#footer .footer-contant{
	width:1600px;
}
#footer .footer-contant .text1{
	font-size:18px;
}
#footer .footer-contant .text2{
	font-size:14px;
	color:#eee;
}
/*index end*/


.innerpageofwebsite{
	width:100%;
	margin:0 auto;
}

.left{
	width: 19.1%;
	display: inline-block;
	background: #444444;
	height: 882px;
}
.left .left_logo{
	text-align:center;
	padding:9px 0;
	background:#027ac7;
}
.left ul{
	background:#444444;
	color:#fff;
}
.left ul li{
	height:46px;
	width:254px;
	line-height:46px;
	z-index: 100;
}
.left ul li .icon{
	display:inline-block;
	width:19px;
	height:19px;
	vertical-align:middle;
	margin-left: 55px;
}
 .left ul li .icon_hover{
	 display:none;
 }
.left ul li span{
	display:inline-block;
	width:80px;
}
.left ul li span a{
	display:inline-block;
	width:80px;
	color:#fff;
}
.left ul li .sub-nav{
	margin-left:48px;
	margin-top:18px;
}
.left ul li:hover{
	background:#fff;
	border-left:6px solid #69bbf0;
	color:#027ac7;
}
.left ul li:hover .icon_hover{
	display:inline-block;
	width:19px;
	height:19px;
	vertical-align:middle;
	margin-left: 55px;
}
.left ul li:hover .icon{
	display:none;
}
.left ul li span a:hover,.left ul li:hover a{
	color:#027ac7;
}
.left ul li .basic{
	display:inline-block;
	width:19px;
	height:19px;
	vertical-align:middle;
	background: url(../images/sub-nav.png) center center no-repeat;
	margin-left: 55px;
}
.set{
	background: url(../images/shezhi.jpg);
}
.set-current{
	background:url(../images/shezhihover.jpg);
}
.user{
	background: url(../images/user.jpg);
}
.user-current{
	background:url(../images/user_hover.jpg);
}
.role{
	background: url(../images/yuangong.jpg);
}
.role-current{
	background:url(../images/yuangong_hover.jpg);
}
.classes{
	background: url(../images/banci.jpg);
}
.classes-current{
	background:url(../images/banci_hover.jpg);
}
.wifi{
	 background: url(../images/wifi.jpg);
 }
.wifi-current{
	background:url(../images/wifi_hover.jpg);
}
.holiday{
	background: url(../images/jiari.jpg);
}
.holiday-current{
	background:url(../images/jiari_hover.jpg);
}
.flexible{
	background: url(../images/panban.jpg);
}
.flexible-current{
	background:url(../images/panban_hover.jpg);
}
.attendance{
	background: url(../images/mingxi.jpg);
}
.attendance-current{
	background:url(../images/mingxi_hover.jpg);
}
.supervision{
	background: url(../images/jiandu.jpg);
}
.supervision-current{
	background:url(../images/kaoqing_hover.jpg);
}
.month{
	background: url(../images/tongji.jpg);
}
.month-current{
	background:url(../images/tongji_hover.jpg);
}
.work{
	background: url(../images/gongzuoqun1.jpg);
}
.work-current{
	background:url(../images/gongzuoqun.jpg);
}
.right{
	float: right;
	width: 80.9%;
}
.right .right-title{
	height:52px;
	padding:12px 0;
	border-bottom:1px solid #dcdcdc;
}
.right .right-title .right-title-contant{
	margin-right:10px;
	float:right;
}
.right .right-title img{
	display:block;
	float:left;
	margin-top:7px;
	vertical-align:middle;
}
.right .right-title span{
	display:block;
	float:right;
	background:#fff;
	color:#000;
	height:52px;
	line-height:52px;
}
.right .right-title span a{
	display:block;
	float:right;
	background:#fff;
	color:#000;
	height:52px;
	line-height:52px;
	padding-right:10px;
}
.right .right-title span a:hover{
	color:#efefef;
}
	
.right .address{
	height:39px;
	border-bottom:2px solid #dcdcdc;
	line-height:39px;
	padding-left:23px;
	color:#666;
	font-size:14px;
	margin-bottom:24px;
	opacity:0.78;
	filter:alpha(opacity=0.78);
}
.right .address img{
	margin-right:10px;
}
.right .address a{
	color:#666;
}
.right .right-contant-right{
	float: left;
	width: 64%;
	margin: 0 3%;
}
.right-contant-simple{
	width: 100%;
}
.right .right-contant-right-title{
	margin:24px 0 24px 0;
	font-size:14px;
}
.right .right-contant-right-title label{
	color:#666;
}
.right .right-contant-right-title select{
	height:25px;
	width:120px;
	color:#CCC;
	border:1px solid #8fb9f3;
}
.right .right-contant-right-title select option{
	color:#666;
}
.right .right-contant-right-title .button{
	height:25px;
	width:57px;
	margin-left:21px;
	background:#69bbf0;
	color:#fff;
	list-style:none;
	border:0;
	border:none;
}
.right .right-contant-right-title span{
	margin-right:20px;
	display:block;
	float:right;
	border:1px solid #8fb9f3;
	border-radius:5px;
}
.right .right-contant-right-title span a{
	display:block;
	float:right;
	width:25px;
	height:25px;
}
.right .right-contant-right-title span .line_right{
	border-right:1px solid #8fb9f3;
}
.right .right-contant-right-title span img{
	margin-top:4px;
	margin-left:5px;
}


.right .right-contant-right .calendar{
	border-radius:5px;
}

.right .right-contant-right .calendar td,.right .right-contant-right .calendar th{
	text-align:center;
	vertical-align:middle;
}
.right .right-contant-right .calendar td{
		border:1px solid #eaeaea;
		color:#69bbf0;
		font-weight:bold;
}
.right .right-contant-right .calendar table{
	width:721px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border-collapse:collapse;
	border:1px solid #a0a0a0;
}
.right .right-contant-right .calendar th{
	height:37px;
}
.right .right-contant-right .calendar .table_title{
	background:#31353e;
	color:#fff;
	font-size:14px;
	
}


.right .right-contant-right .calendar table .table_bg{
	background:#e7e7e7;
}

.right .right-contant-right .calendar table .font-color{
	color:#69bbf0;
}
.right .right-contant-right .calendar table a{
	padding:57px 0 23px 0;
	display:block;
	color:#69bbf0;
}
.right .right-contant-right .calendar table a:hover{
	background:#fff;
	background:url(../images/calendarhover.jpg) no-repeat center center;
	color:#fff;
}

.right .right-contant-right .calendar table .table_bg:hover a{
	background:url(../images/table-bg.jpg) no-repeat center center;
}


.right .right-contant-left{
	float:left;
	margin-left:30px;
}
.right .right-contant-left .radio{
	margin-left:9px;
}
.right .right-contant-left ul{
	margin-top:13px;
	width:270px;
	
	border-bottom:1px solid #efefef;
}
.right .right-contant-left ul li{
	height:38px;
	line-height:38px;
	border-left:1px solid #efefef;
	border-right:1px solid #efefef;
}
.right .right-contant-left ul img{
	display:block;
	margin-left:2px;
}
.right .right-contant-left ul .first{
	background:#69bbf0;
	width:250px;
	height:45px;
	line-height:45px;
	padding-left:20px;
}
.right .right-contant-left ul .sub-list{
	padding-left:30px;
}
.right .right-contant-left ul .sub-list1{
	background:#ebf2fb;
}
.right .right-contant-left ul .end{
	padding-left:20px;
}
.sub_footer{
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin-top: 50px;
	color: #ccc;
	font-size: 14px;
}


.addresss{
	height:39px;
	line-height:39px;
	color:#666;
	font-size:14px;
}
.addresss .address_bg{
	height:39px;
	border-bottom:2px solid #dcdcdc;
	line-height:39px;
	padding-left:23px;
	color:#666;
	font-size:14px;
	margin-bottom:24px;
	background:#fff;
	opacity:0.78;
	filter:alpha(opacity=0.78);
}
.addresss .address_bg a{
	color:#666;
}
.set-up-li{
	position:relative;
}
.left ul li .sub_list{
	position: relative;
	left: 248px;
	top: -36px;
	height: 140px;
	width: 300px;
	font-size: 14px;
	color: #333;
	background: #fff;
	 display: none;
}
.left ul li .sub_list li{
	width:280px;
	height:0;
	margin-left:20px;
	border:0;
	border:none;
	}
.left ul li .sub_list .sub-li:hoveer{
	border:0 !important;
	border:none !important;
	border-left:none !important;
	border-left:0 !important;
	margin-left:-6px;
	color:#fff;
}
.left ul li:hover .sub_list{
	display:block;
}
.left ul li .sub_list li a{
	color:#000;
}
.left ul li .sub_list li a:hover{
	color:#69bbf0;
}
.set_up .text{
	background:#fff;
	width:89px;
	height:25px;
	border:1px solid #8fb9f3;
}

.set_up .set_up_table table{
	width:100%;
	text-align:center;
	padding:0;
	border:0;
	border:none;
	margin:0;
}
.set_up .set_up_table table .set_up_title{
	color:#FFF;
	background:#69bbf0;
	height:37px;
	line-height:37px;
	border:0;
	border:none;
}
.set_up .set_up_table table tr{
	height:37px;
	line-height:37px;
	border-collapse:collapse;
	border:0;
	border:none;
	font-size:14px;
}
.set_up .set_up_table table .set_up_bg{
	background:#ebf2fb;
}

.set_up .page{
	width:1346px;
	margin:0 auto;
	text-align:center;
	margin-top:45px;
}

/*page*/
a{font-size:12px;color:#000;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
.pages{height:25px;padding:10px 15px 5px 0px;text-align:center; clear:both; margin-top:28px; font-size:12px;}
.pages a{margin:0px 1px;padding:2px 5px;text-align:center;border:1px solid #a0a0a0;color:#000;}
.pages .pagesNum,.pages .pagesOn{color:#000;}
.pages .pagesInput,.pages .pagesnone,.pages .pagego{border:0px;padding:2px 0px;margin:0px 2px;color:#000;}
.pages .pagesInput input{width:32px;margin:0px 2px;border:1px solid #a0a0a0;height:16px;text-align:center;}
.pages a:hover{
	background:#5b98ed;
	color:#fff;
}
.pages .pagesInput input:hover{
	background:#fff;
}
.right-contant-right-img{
	height:191px;
	background: url("../images/sub-img.jpg") center center no-repeat;
}
.edit{
	display: inline-block;
	background: url("../images/pen.png") center center no-repeat;
	width:18px;
	height:16px;
	cursor: pointer;
}
.delete{
	display: inline-block;
	background: url("../images/lajitong.png") center center no-repeat;
	width:13px;
	height:16px;
	cursor: pointer;
}
.upload{
	display:inline-block;
	padding: 3px 8px;
	background-color: #68baff;
	color:#fff;
	border-radius: 3px;
}
.up-p{
	margin-top: 5px;
}
.message{
	width: 300px;
	padding: 10px 80px;
}
.message>div{
	margin-top: 10px;
	position: relative;
}
.message label{
	display: inline-block;
	width:5em;
	font-size:13px;
	color:#000;
	line-height: 30px;
}
.message input,.message select{
	width: 200px;
	height: 26px;
	font-size:13px;
}
.message i{
	display: block;
	width:17px;
	height:17px;
	position: absolute;
	left: -25px;
	top: 6px;
	background: url("../images/problem.png") center center no-repeat;
}
.message span{
	color: #027ac7;
}
.message a{
	display: inline-block;
	width: 95px;
	height:30px;
	line-height: 30px;
	border-radius: 5px;
	font-size: 13px;
	text-align: center;
}
.message .sure{
	background: #69bbf0;
	color: #fff;
}
.message .cancel{
	margin-left: 10px;
	background: #cfcfcf;
	color: #8c8c8c;

}