/* CSS reset */
.margin {
  margin: 0;
  padding: 0;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
/* General Demo Style */
body {
  color: #333;
  font: 62.5%/1.5 "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  color: #000;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
