.header {
  height: 58px;
  background: #101824;
  overflow: hidden;
}
.header img {
  display: block;
  margin: 17px auto;
}
.banner {
  position: relative;
}
.banner .bannerImg {
  display: block;
}
.banner .form-contant {
  position: absolute;
  width: 20%;
  height: 70%;
  right: 15%;
  top: 28%;
}
.banner .form-contant .button {
  width: 50%;
  border: none;
  padding: 3% 0;
  text-align: center;
  float: left;
  margin-bottom: 5%;
  color: #fff;
  font-weight: bold;
  background: #959595;
}
.banner .form-contant .active {
  background: #459aeb;
}
.banner .form-contant .info-list {
  border-bottom: 2px #ccc solid;
}
.banner .form-contant .info-list li {
  padding-bottom: 2%;
  margin-bottom: -2px;
  height: 25px;
  width: 33%;
  float: left;
  overflow: hidden;
}
.banner .form-contant .info-list li .steps {
  display: inline-block;
  vertical-align: top;
  width: 26px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  color: #fff;
  background: url(../images/hover2.png) no-repeat;
}
.banner .form-contant .info-list li span {
  line-height: 25px;
  margin-left: 5px;
}
.banner .form-contant .info-list li.on {
  border-bottom: 2px #84bbf1 solid;
}
.banner .form-contant .info-list li.on .steps {
  background: url(../images/hover.png) no-repeat;
}
.banner .form-contant .contant-list {
  height: 55%;
}
.banner .form-contant .contant-list li {
  height: 13%;
  padding-left: 1%;
  margin-top: 7%;
  position: relative;
}
.banner .form-contant .contant-list li input {
  display: block;
  padding: 0 2%;
  width: 94%;
  height: 100%;
}
.banner .form-contant .contant-list li label {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  width: 100%;
  height: 95%;
  font-size: 13px;
  color: #999;
  text-indent: 1em;
  padding-top: 3%;
}
.banner .form-contant .nextBtn {
  display: block;
  width: 100%;
  background: #328fe9;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 5% 0;
  margin-top: 10%;
  cursor: pointer;
}
.contant1 {
  margin-top: 5%;
  margin-left: 12%;
  position: relative;
}
.contant1 .contant_text {
  position: absolute;
  left: 43%;
  top: 18%;
  background-color: rgba(0, 0, 0, 0.73);
}
.contant2 {
  margin-left: 12%;
  position: relative;
}
.contant2 .contant_text {
  position: absolute;
  left: 0;
  top: 18%;
  width: 40%;
  background-color: rgba(53, 99, 165, 0.73);
}
.contant2 img {
  margin-right: 12%;
  float: right;
}
.contant3 {
  margin-left: 12%;
  position: relative;
}
.contant3 .contant_text {
  position: absolute;
  left: 43%;
  top: 18%;
  background-color: rgba(22, 140, 201, 0.73);
}
.contant_text {
  width: 35%;
  padding: 5%;
  line-height: 150%;
  font-size: 15px;
  color: #fff;
}
.contant_text h1 {
  margin-bottom: 5%;
}
.line {
  margin: 0 auto;
  width: 80%;
}
.line img {
  display: block;
}
