@charset "utf-8";
/* CSS Document */

.header{
	width:1600px;
	height:82px;
	background:#027ac7;
	margin:0 auto;
	vertical-align:middle;
}
.header .img_1{
	display:block;
	margin-top:10px;
	float:left;
}
.header .img_2{
	display:block;
	margin-top:20px;
}
.header span{
	display:block;
	height:82px;
	line-height:82px;
	float:right;
	color:#fff;
}
.header span a{
	display:block;
	height:82px;
	line-height:82px;
	color:#fff;
	line-height:82px;
}