<div class="right-title">
    <div class="right-title-contant"><img src="../images/user-user.jpg"/><span><a href="#">LILI Zhang | 退出</a></span></div>
</div>
<div class="addresss">
    <div class="address_bg"><img src="../images/home.jpg" />&nbsp;&nbsp;位置&nbsp;&nbsp;>&nbsp;&nbsp;<a href="#">系统设置</a>&nbsp;&nbsp;>&nbsp;&nbsp;灵活排班</div>
</div>
<div class="right-contant set_up">
    <div class="right-contant-simple">
        <div class="right-contant-right-title">
            <label>所属机构：</label>
            <select name="year">
                <option value="2008">2008</option>
                <option value="2009">2009</option>
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
            </select>
            <label>考勤类型：</label>
            <select name="year">
                <option value="一月">一月</option>
                <option value="一月">二月</option>
                <option value="一月">三月</option>
                <option value="一月">四月</option>
                <option value="一月">五月</option>
                <option value="一月">六月</option>
                <option value="一月">七月</option>
                <option value="一月">八月</option>
                <option value="一月">九月</option>
                <option value="一月">十月</option>
                <option value="一月">十一月</option>
                <option value="一月">十二月</option>
            </select>
            <label>姓名：</label>
            <input class="text" type="text" />
            <label>考勤日期范围：</label>
            <input class="text" type="text"  />
            &nbsp;—&nbsp;
            <input class="text" type="text" />
            <span><a href="#"><img src="../images/search.png" width="15" height="15"/></a><a href="#" class="line_right"><img src="../images/refresh.png" width="16" height="15"/></a><a href="#"  class="line_right"><img src="../images/plus.png" width="15" height="15" /></a></span>
        </div>
        <div class="set_up_table">
            <table cellpadding="0" border="0" cellpadding="0">
                <tr>
                    <td class="set_up_title">序号</td>
                    <td class="set_up_title" >姓名</td>
                    <td class="set_up_title">所属机构</td>
                    <td class="set_up_title" >类型</td>
                    <td class="set_up_title">上班时间</td>
                    <td class="set_up_title" >下班时间</td>
                    <td class="set_up_title">签到时间</td>
                    <td class="set_up_title">签退时间</td>
                    <td class="set_up_title" >迟到情况</td>
                    <td class="set_up_title">早退情况</td>
                    <td class="set_up_title" >考勤日期</td>
                    <td class="set_up_title">状态</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                    <td>未打卡</td>
                    <td>未打卡</td>
                    <td>2015-9-20</td>
                    <td>有效</td>
                </tr>
                <tr class="set_up_bg">
                    <td>2</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                    <td>未打卡</td>
                    <td>未打卡</td>
                    <td>2015-9-20</td>
                    <td>有效</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                    <td>未打卡</td>
                    <td>未打卡</td>
                    <td>2015-9-20</td>
                    <td>有效</td>
                </tr>
                <tr class="set_up_bg">
                    <td>4</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                    <td>未打卡</td>
                    <td>未打卡</td>
                    <td>2015-9-20</td>
                    <td>有效</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                    <td>未打卡</td>
                    <td>未打卡</td>
                    <td>2015-9-20</td>
                    <td>有效</td>
                </tr>
                <tr class="set_up_bg">
                    <td>6</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                    <td>未打卡</td>
                    <td>未打卡</td>
                    <td>2015-9-20</td>
                    <td>有效</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                    <td>未打卡</td>
                    <td>未打卡</td>
                    <td>2015-9-20</td>
                    <td>有效</td>
                </tr>
                <tr class="set_up_bg">
                    <td>8</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                    <td>未打卡</td>
                    <td>未打卡</td>
                    <td>2015-9-20</td>
                    <td>有效</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="pages"><a class="pagesNum" title="第2页/共12页"> <上一页 </a><a href="#">1</a><a class="pagesOn">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#">10</a><a class="pagesNum" title="下一页"> 下一页> </a><a class="pagesNum" title="尾页"> 尾页 </a>&nbsp;共&nbsp;<a class="pagesnone">100</a>页，第<a class="pagesInput">
        <input type="text" name="custompage" >
    </a>页
        <a class="pagesNum" title="确定"> 确定 </a>
    </div>
    <div class="clearfix"></div>
    <div class="sub_footer">
        <p> 广州优勤信息科技有限公司 @2015 版权所有粤ICP备130165248号-5</p>
    </div>
</div>