<div class="right-title">
    <div class="right-title-contant"><img src="../images/user-user.jpg"/><span><a>LILI Zhang |
        退出</a></span></div>
</div>
<div class="address"><img src="../images/home.jpg"/>&nbsp;&nbsp;位置&nbsp;&nbsp;>&nbsp;&nbsp;<a>系统设置</a>&nbsp;&nbsp;>&nbsp;&nbsp;灵活排班
</div>
<div class="right-contant">

    <div class="right-contant-right">
        <div class="right-contant-right-title">
            <label>年：</label>
            <select name="year">
                <option value="2008">2008</option>
                <option value="2009">2009</option>
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
            </select>
            <label>月：</label>
            <select name="year">
                <option value="一月">一月</option>
                <option value="一月">二月</option>
                <option value="一月">三月</option>
                <option value="一月">四月</option>
                <option value="一月">五月</option>
                <option value="一月">六月</option>
                <option value="一月">七月</option>
                <option value="一月">八月</option>
                <option value="一月">九月</option>
                <option value="一月">十月</option>
                <option value="一月">十一月</option>
                <option value="一月">十二月</option>
            </select>
            <label>日：</label>
            <select name="year">
                <option value="一月">1</option>
                <option value="一月">2</option>
                <option value="一月">3</option>
                <option value="一月">4</option>
                <option value="一月">5</option>
                <option value="一月">6</option>
                <option value="一月">7</option>
                <option value="一月">8</option>
                <option value="一月">9</option>
                <option value="一月">11</option>
                <option value="一月">12</option>
                <option value="一月">13</option>
                <option value="一月">14</option>
                <option value="一月">15</option>
                <option value="一月">16</option>
                <option value="一月">17</option>
            </select>
            <input class="button" type="button" value="保存"/>
            <input class="button" type="button" value="清除"/>
        </div>
        <div class="calendar">
            <table>
                <tr>
                    <th class="table_title" colspan="7">2015年11月</th>
                </tr>
                <tr>
                    <th class="table_title font-color">星期天</th>
                    <th class="table_title">星期一</th>
                    <th class="table_title">星期二</th>
                    <th class="table_title">星期三</th>
                    <th class="table_title">星期四</th>
                    <th class="table_title">星期五</th>
                    <th class="table_title font-color">星期六</th>
                </tr>
                <tr>
                    <td class="table_bg"><a>1</a></td>
                    <td><a>2</a></td>
                    <td><a>3</a></td>
                    <td><a>4</a></td>
                    <td><a>5</a></td>
                    <td><a>6</a></td>
                    <td class="table_bg"><a>7</a></td>
                </tr>
                <tr>
                    <td class="table_bg"><a>8</a></td>
                    <td><a>9</a></td>
                    <td><a>10</a></td>
                    <td><a>11</a></td>
                    <td><a>12</a></td>
                    <td><a>13</a></td>
                    <td class="table_bg"><a>14</a></td>
                </tr>
                <tr>
                    <td class="table_bg"><a>15</a></td>
                    <td><a>16</a></td>
                    <td><a>17</a></td>
                    <td><a>18</a></td>
                    <td><a>19</a></td>
                    <td><a>20</a></td>
                    <td class="table_bg"><a>21</a></td>
                </tr>
                <tr>
                    <td class="table_bg"><a>22</a></td>
                    <td><a>23</a></td>
                    <td><a>24</a></td>
                    <td><a>25</a></td>
                    <td><a>26</a></td>
                    <td><a>27</a></td>
                    <td class="table_bg"><a>28</a></td>
                </tr>
                <tr>
                    <td class="table_bg"><a>29</a></td>
                    <td><a>30</a></td>
                    <td><a>31</a></td>
                    <td><a>32</a></td>
                    <td><a>33</a></td>
                    <td><a>34</a></td>
                    <td class="table_bg"><a>35</a></td>
                </tr>

            </table>
        </div>
    </div>


    <div class="right-contant-left">
        <input type="radio" name="radio" class="radio" value="部门"/>&nbsp;&nbsp;部门
        <input type="radio" name="radio" class="radio" value="部门"/>&nbsp;&nbsp;群

        <ul>
            <img src="../images/icon.jpg" width="25" height="15"/>
            <li class="first"><input type="checkbox" name="部门"/>&nbsp;&nbsp;研发部（广州优勤公司）</li>
            <li class="sub-list sub-list1"><input type="checkbox" name="部门"/>&nbsp;&nbsp;马家良</li>
            <li class="sub-list"><input type="checkbox" name="部门"/>&nbsp;&nbsp;刘共</li>
            <li class="sub-list sub-list1"><input type="checkbox" name="部门"/>&nbsp;&nbsp;马家良</li>
            <li class="sub-list"><input type="checkbox" name="部门"/>&nbsp;&nbsp;刘共</li>
            <li class="sub-list sub-list1"><input type="checkbox" name="部门"/>&nbsp;&nbsp;马家良</li>
            <li class="sub-list"><input type="checkbox" name="部门"/>&nbsp;&nbsp;刘共</li>
            <li class="sub-list sub-list1"><input type="checkbox" name="部门"/>&nbsp;&nbsp;马家良</li>
            <li class="sub-list"><input type="checkbox" name="部门"/>&nbsp;&nbsp;刘共</li>
            <li class="sub-list sub-list1"><input type="checkbox" name="部门"/>&nbsp;&nbsp;马家良</li>
            <li class="sub-list"><input type="checkbox" name="部门"/>&nbsp;&nbsp;刘共</li>
            <li class="sub-list sub-list1"><input type="checkbox" name="部门"/>&nbsp;&nbsp;马家良</li>
            <li class="sub-list"><input type="checkbox" name="部门"/>&nbsp;&nbsp;刘共</li>
            <li class="sub-list sub-list1"><input type="checkbox" name="部门"/>&nbsp;&nbsp;马家良</li>

            <li class="end"><input type="checkbox" name="部门"/>全选 清除</li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="sub_footer">
        <p> 广州优勤信息科技有限公司 @2015 版权所有粤ICP备130165248号-5</p>
    </div>

</div>