<div class="right-title">
    <div class="right-title-contant"><img src="../images/user-user.jpg"/><span><a href="#">LILI Zhang | 退出</a></span></div>
</div>

    <div class="right-contant-right-img">
        <div class="addresss">
        <div class="address_bg"><img src="../images/home.jpg" />&nbsp;&nbsp;位置&nbsp;&nbsp;>&nbsp;&nbsp;<a href="#">在线支付</a></div>
    </div>
</div>
<div class="right-contant set_up">
    <div class="right-contant-simple">
        <div class="set_up_table">
            <table cellpadding="0" border="0" cellpadding="0">
                <tr>
                    <td class="set_up_title">公司序号</td>
                    <td class="set_up_title" >公司名称</td>
                    <td class="set_up_title">订单类别</td>
                    <td class="set_up_title" >计费套餐</td>
                    <td class="set_up_title">套餐数量</td>
                    <td class="set_up_title" >套餐单价</td>
                    <td class="set_up_title">收费金额</td>
                    <td class="set_up_title">购买公司</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                </tr>
                <tr class="set_up_bg">
                    <td>2</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                </tr>
                <tr class="set_up_bg">
                    <td>4</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                </tr>
                <tr class="set_up_bg">
                    <td>6</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                </tr>
                <tr class="set_up_bg">
                    <td>8</td>
                    <td>刘春涛</td>
                    <td>研发部(广州优勤公司)</td>
                    <td>类型</td>
                    <td>14：00</td>
                    <td>17：30</td>
                    <td>星期天</td>
                    <td>星期天</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="pages"><a class="pagesNum" title="第2页/共12页"> <上一页 </a><a href="#">1</a><a class="pagesOn">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#">10</a><a class="pagesNum" title="下一页"> 下一页> </a><a class="pagesNum" title="尾页"> 尾页 </a>&nbsp;共&nbsp;<a class="pagesnone">100</a>页，第<a class="pagesInput">
        <input type="text" name="custompage" >
    </a>页
        <a class="pagesNum" title="确定"> 确定 </a>
    </div>
    <div class="clearfix"></div>
    <div class="sub_footer">
        <p> 广州优勤信息科技有限公司 @2015 版权所有粤ICP备130165248号-5</p>
    </div>
</div>