
.clearfix:after {content: "\0020"; display: block; height: 0;clear: both; visibility: hidden; }
.clearfix {zoom: 1;}

.wrap{width:1000px;margin:0 auto;}
.fl{float:left;}.fr{float:right;}

.ml-1{margin-left:-1px;}.ml30{margin-left:30px;}
.mr-1{margin-right:-1px;}
.mt80{margin-top:80px;}

.homeIcon{
	display:inline-block;
	width:12px;
	height:12px;
	vertical-align:middle;
	background:url(../images/home.png) no-repeat;
}

.footer{
	width:100%;
	background:#353535;
	text-align:center;
	color:#fff;
	padding:30px 0;
	line-height:200%;
	.footer-contant{
		.text1{
			font-size:15px;
		}
		.text2{
			font-size:11px;
			color:#eee;
		}
	}
}