.payPage{
	background:#e9e9e9;
}
.payPage_head{
	height:82px;
	background:#027ac7;
	.logo1{
		display:block;
		width:136px;
		height:57px;
		float:left;
		margin-top:10px;
		background:url(../images/logo1.png) no-repeat;
	}
	.payLogo{
		display:block;
		width:239px;
		height:27px;
		float:left;
		margin-top:27px;
		margin-left:20px;
		background:url(../images/member-title.png) no-repeat;
	}
	span{
		line-height:82px;
	}
	span{
		font-size:1.3em;
		color:#fff;
	}
}
.payCrumbs{
	font-size:1.3em;
	color:#444;
	height:38px;
	line-height:38px;
	background:#fff;
	border-top:1px #dcdcdc solid;
	border-bottom:1px #dcdcdc solid;
}
.payPage_body{
	background:#fff;
	.payLeft{
		float:left;
		.bor_box{
			padding:30px;
			border-bottom:1px #9e9d9d solid;
			margin: 0 13px;
		}
		.nobor_box{
			padding:30px 43px;
		}
		.text1,.text2,.text3{margin-top:10px;}
		.text1{
			font-size:2.4em;
			color:#000;
		}
		.text2{
			background:#027ac7;
			font-size:2.4em;
			color:#fff;
			height:38px;
			line-height:38px;
			text-align:center;
		}
		.text3{
			font-size:1.5em;
			color:#000;
		}
		.payLink{
			display:block;
			font-size:1.5em;
			color:#000;
			line-height:30px;
		}
	}	
	.payRight{
		float:left;
		padding:35px 55px;
		border-left:1px #a7a7a7 solid;
	}
}
.payForms{
	margin-top:25px;
	line-height:38px;
	.name{
		font-size:1.7em;
		color:#000;
		display:inline-block;
		vertical-align:top;
		width:5em;
	}
	.content{
		display:inline-block;
		vertical-align:top;
		.textTag{
			display:block;
			min-width:90px;
			line-height:1;
			padding:10px 30px;
			text-align:center;
			font-size:1.5em;
			color:#000;
			border:1px #b4b4b4 solid;
			position:relative;
			.selected{
				position:absolute;
				right:0;
				bottom:0;
			}
		}
		.textTag.on{
			border:1px #80bce3 solid;
			z-index:2;			
		}
		.txt1{
			padding:10px;
			font-size:1.5em;
			color:#000;
			border:1px #80bce3 solid;
		}
		.txt2{
			font-size:1.5em;
			color:#000;
			margin-left:8px;
		}
		.paySelect,.payInput{
			width:120px;
			padding:0 10px;
			height:38px;
			line-height:38px;
			font-size:1.5em;
			color:#000;
			border:1px #80bce3 solid;
			outline:none;
		}
		.codebox{
			display:inline-block;
			vertical-align:top;
			p{
				text-align:center;
				font-size:1.5em;
			}
		}
		.payBtn{
			font-size:2.1em;
			color:#fff;
			display:block;
			width:153px;
			height:38px;
			text-align:center;
			line-height:38px;
			background:#69bbf0;
		}
		.checkbox{  
			display: inline-block;
  			vertical-align: middle;
			}
		.treatyText{
			font-size:1.3em;
			color:#000;
			a{
				color:#69bbf0;
			}
		}
	}
}